<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 表示映射的接口 -->
<mapper namespace="com.pb.mapper.Mapper">

	<insert id="insertStudent" parameterType="Student">
		INSERT INTO student VALUES (#{name},#{pwd});
	</insert>
	<select id="selectStudentByName" parameterType="Student"
		resultType="Integer">
		SELECT COUNT(`name`) FROM student WHERE 1=1

		<if test="name!=null and name!=''">
			AND `name`=#{name}
		</if>
		<if test="pwd!=null and pwd!=''">
			AND pwd=#{pwd}
		</if>
	</select>
</mapper>